<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Date Of Joining</th>
            <th>Designation</th>
            <th>Age</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of empService.listEmployee">
            <td>{{emp.name|uppercase}}</td>
            <td>{{emp.lastname|uppercase}}</td>
            <td>{{emp.email}}</td>
            <td>{{emp.doj|date}}</td>
            <td>{{emp.designation}}</td>
            <td>{{emp.age}}</td>
           
        </tr>
    </tbody>
</table>
