<div class="container">
 <app-employee-form></app-employee-form>
</div>
<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Date Of Joining</th>
            <th scope="col">Designation</th>
            <th scope="col">Age</th>
            <th scope="col">Action</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of empService.listEmployee">
            <td>{{emp.name}}</td>
            <td>{{emp.lastName}}</td>
            <td>{{emp.email}}</td>
            <td>{{emp.doj|date:'dd-MMMM-yyyy'}}</td>
            <td>{{emp.designation}}</td>
            <td>{{emp.age}}</td>
           
            <!-- action button -->
           <td>
            <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Actions
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <button class="dropdown-item" type="button" (click)="populateEmployee(emp)">Edit</button>
                  <button class="dropdown-item" type="button" (click)="deleteEmployee(emp.id)">Delete</button>
                  
                </div>
              </div>
           </td>
        </tr>
    </tbody>
</table>
